<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7B7C8XPzoGb_ObLy9prli8Zly9B2f7zs</string>
	<key>GCM_SENDER_ID</key>
	<string>767008397493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saydulayev.wien-gmail.com.MyHobbies</string>
	<key>PROJECT_ID</key>
	<string>myhobbies-16e08</string>
	<key>STORAGE_BUCKET</key>
	<string>myhobbies-16e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767008397493:ios:d36062ea8aee1833a7c6fc</string>
</dict>
</plist>